@font-face {
  font-family: "PT Root UI";
  font-display: fallback;
  font-weight: normal;
  src: url("/fonts/pt-root-ui-regular.woff2") format("woff2");
}

@font-face {
  font-family: "PT Root UI";
  font-display: fallback;
  font-weight: bold;
  src: url("/fonts/pt-root-ui-bold.woff2") format("woff2");
}

:root {
  --background: #fafafa;
  --foreground: #121212;
  --accent: #cd3333;
  --dark-accent: #95000c;
  --gray: #e6e6e6;
}

*::selection {
  background-color: var(--accent);
  color: var(--background);
}

*::-moz-selection {
  background-color: var(--accent);
  color: var(--background);
}

html,
button {
  font-size: 18px;
  font-family: "PT Root UI", Helvetica, Arial, sans-serif;
}

body {
  margin: 1rem;
  color: var(--foreground);
  background-color: var(--background);
}

body > * {
  max-width: calc(768px - 2rem);
  margin-right: auto;
  margin-left: auto;
}

header nav a,
h3 {
  font-size: 1.5rem;
}

main nav {
  margin-top: 3rem;
}

main nav a,
main nav button {
  padding: 0.075rem 0.296rem;
  white-space: pre;
  display: inline-block;
}

main nav button {
  font-size: 1rem;
}

nav,
h1,
h2,
h3,
figcaption,
footer {
  text-align: center;
}

nav a,
nav button {
  padding: 0.075rem 0.296rem;
  white-space: pre;
  display: inline-block;
}

h1,
h2,
h3,
nav a,
nav button,
footer {
  font-weight: bold;
}

h1,
h2,
h3 {
  line-height: 1.25em;
  letter-spacing: -0.012em;
}

h1 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: table;
  height: 4.5rem;
  margin-top: 1rem;
  margin-bottom: -2.25rem;
  padding: 0 1rem;
  border: 1.5px solid var(--gray);
  border-radius: 0.444rem;
  font-size: 3.375rem;
  line-height: 4.5rem;
  text-transform: uppercase;
  background-color: var(--background);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
}

h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 2.25rem;
}

h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.5em;
}

p {
  margin: 1rem 0 0 0;
  font-weight: normal;
}

p a,
li a {
  text-decoration: underline;
}

a,
button {
  color: var(--black);
  transition: color cubic-bezier(0.49, 0.66, 0.27, 1.08) 0.3s;
}

a {
  text-decoration: none;
}

a:hover,
button:hover {
  color: var(--accent);
}

figure,
img {
  border-radius: 0.2rem;
}

figure {
  width: 100%;
  margin: 0;
}

figure:not(:first-of-type) {
  margin: 1rem 0 0 0;
}

img {
  display: block;
  width: 100%;
}

img + img {
  margin-top: 1rem;
}

figcaption {
  margin: 0.2rem 0;
  font-size: 0.8rem;
}

button {
  border: 0;
  background-color: unset;
  cursor: pointer;
}

button:focus {
  outline: none;
}
