@media screen and (max-width: 768px) {
  header nav {
    max-width: 140px;
    margin: 0 auto;
  }
  h1 {
    margin-bottom: 1rem;
    box-shadow: unset;
  }
  img.double {
    width: 100%;
  }
  img.double:nth-of-type(2) {
    float: unset;
  }
}
